{% block content %}
    <div class="row">
    <h2>
        <b>Creditos</b>
        {% if beneficiario.creditos_vencidos %}
            <a href="{% url 'beneficiarios:historial_creditos' beneficiario_id=beneficiario.id %}">
                <img class="icons" src="/static/img/icons/history.png" alt="Ver Historial">
            </a>
        {% endif %}
    </h2>
    {% if beneficiario.creditos_pedidos or beneficiario.creditos_actuales %}
            {% for credito in beneficiario.creditos_pedidos %}
                <div class="col-md-4">
                    <a class="nolink" href="{% url 'beneficiarios:ver_credito' credito_id=credito.id %}">
                        <div class="recuadro">
                            <p><b>Tramo:</b> {{credito.tramo}}</p>
                            <p><b>Boletos Pedidos:</b> {{credito.credito_total}}</p>
                            <p><b>Estado:</b> {{credito.estado_str}}</p>
                            <p><b>Fecha Pedido:</b> {{credito.fecha_pedido}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% for credito in beneficiario.creditos_actuales %}
                <div class="col-md-4">
                    <a class="nolink" href="{% url 'beneficiarios:ver_credito' credito_id=credito.id %}">
                        <div class="recuadro">
                            <p><b>Tramo:</b> {{credito.tramo}}</p>
                            <p><b>Boletos Disponibles::</b> {{credito.credito_actual}}</p>
                            <p><b>Estado:</b> {{credito.estado_str}}</p>
                            <p><b>Fecha Aprobado:</b> {{credito.fecha_aprobado}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
    {% endif %}
    </div>
    <hr>
{% endblock %}