{% load static %}
{% block content %}
    <h3><b>Datos Personales</b></h3>
    <p><b>Numero de Beneficiario:</b> {{beneficiario.num_benef}}</p>
    <p><b>Tipo de Beneficiario:</b> {{beneficiario.get_tipo_benef_display}}</p>    
    {% if beneficiario.usuario %}
        <p><b>Usuario:</b>
            {{beneficiario.usuario.username}}
            {% if beneficiario.usuario.is_active is not True %}
                <a class="nolink" href="{% url 'beneficiarios:activar_usuario_benef' user_id=beneficiario.usuario.id %}">
                    <img class="icons" src="{% static 'img/icons/unlock.png' %}" alt="Usuario Bloqueado">
                </a>              
            {% endif %}
            {% if perms.beneficiarios.modificar_password %}
                <a class="nolink" href="{% url 'beneficiarios:mod_password_beneficiario' user_id=beneficiario.usuario.id %}">
                    <img class="icons" src="{% static 'img/icons/changepassword.png' %}" alt="Cambiar Contraseña">
                </a>
            {% endif %}
        <p>
    {% else %}
        <p>
            <a class="nolink" href="{% url 'beneficiarios:crear_usuario_beneficiario' beneficiario_id=beneficiario.id %}">
                Crear Usuario
                <img class="icons" src="{% static 'img/icons/add_role.png' %}">
            </a>
        </p>
    {% endif %}
    <p><b>Numero de Documento:</b> {{beneficiario.num_doc}}</p>
    <p><b>Fecha De Nacimiento:</b> {{beneficiario.fecha_nacimiento}}</p>
    <p><b>Domicilio:</b> {{beneficiario.domicilio_actual}}</p>
    <p><b>Establecimiento Actual:</b> {{beneficiario.escuela_actual.nombre}}</p>
    <p><b>Telefono:</b> {{beneficiario.telefono}}</p>
    <p><b>Email: </b><a href="mailto:{{beneficiario.email}}" target="_blank">{{beneficiario.email}}</a></p>
{% endblock %}