{% block content %}
    {% if beneficiario.info_educativa_actual %}
        <div class="row">
            <h2><b>Historial Academico</b></h2>
            {% for escolar in beneficiario.info_educativa_diferente %}
                <div class="col-md-4">
                    <div class="recuadro">
                        <p><b>Establecimiento:</b> {{escolar.establecimiento.nombre}}</p>
                        <p><b>Nivel:</b> {{escolar.get_nivel_display}}</p>
                        <p><b>Grado:</b> {{escolar.get_grado_display}}</p>
                        <p><b>Fecha:</b> {{escolar.fecha}}</p>
                        <p>
                            <b>Materias Aprobadas</b> 
                            {{escolar.materias_aprobadas}}
                            <a href="{% url 'beneficiarios:historico_educativo' educativa_id=escolar.id %}">(Ver historico)</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endif %}
{% endblock %}