{% block content %}
    {% if beneficiario.documentos.all %}
        <div class="row">
            <h2><b>Documentacion</b></h2>
            {% for documento in beneficiario.documentos.all %}
                <div class="col-md-4 recuadro">
                    <div class="col-md-4">
                        <b>{{documento.tipo.nombre}}</b>
                        <p><b>Fecha:</b> {{documento.fecha}}</p>
                        <p>
                            <b>Estado: </b>
                            {% if documento.activa %}
                                Activo
                            {% else %}
                                Pendiente
                                {% if perms.beneficiarios.ver_docs_pendientes %}
                                    <a href="{% url 'beneficiarios:activar_doc' doc_id=documento.id %}">
                                        <br>(Activar)
                                    </a>
                                {% endif %}
                                {% if perms.beneficiarios.ver_docs_pendientes %}
                                    <a href="{% url 'beneficiarios:eliminar_doc' doc_id=documento.id %}">
                                        <br>(Eliminar)
                                    </a>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-8">
                        <a href="{{documento.archivo.url}}" target="_blank">
                            <img class="documento" src="{{documento.archivo.url}}" target="_blank">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endif %}
{% endblock %}