{% extends 'base_beneficiarios.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>
                <b>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</b>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-4">
                    {% include 'generic/foto_beneficiario.html' %}
                </div>
                <div class="col-md-8">
                    {% include 'generic/datos_beneficiario.html' %}
                </div>
            </div>
        </div>

        <div class="row">
            <h2><b>Historial Academico</b></h2>
            <p><b>Establecimineto:</b> {{establecimiento.nombre}}</b>
            {% for escolar in historicos %}
                <div class="col-md-4">
                    <div class="recuadro">
                        <p><b>Fecha:</b> {{escolar.fecha}}</p>
                        <p><b>Nivel:</b> {{escolar.get_nivel_display}}</p>
                        <p><b>Grado:</b> {{escolar.get_grado_display}}</p>
                        <p><b>Materias Aprobadas</b> {{escolar.materias_aprobadas}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}