{% load static %}
{% block content %}
    <li>
        {{telefono.prefijo}} - {{telefono.cod_area}} - {{telefono.telefono}}
        {% if perms.establecimientos.modificar_establecimientos %}
            <a class="nolink" href="{% url 'establecimientos:mod_telefono' telefono_id=telefono.id %}">
                <img class="icons" src="{% static '/img/icons/change.png' %}">
            </a>
        {% endif %}
        {% if perms.establecimientos.modificar_establecimientos %}
            <a class="nolink" href="{% url 'establecimientos:eliminar_telefono' telefono_id=telefono.id %}">
                <img class="icons" src="{% static '/img/icons/delete.png' %}">
            </a>    
        {% endif %}
    </li>
{% endblock %}