{% load static %}
{% block content %}
    <p>
        <b>Nombre: {{directivo.apellidos}}, {{directivo.nombres}}</b>
        {% if perms.establecimientos.crear_directivo %}
            <a class="nolink" href="{% url 'establecimientos:mod_directivo' directivo_id=directivo.id %}">
                <img class="icons" src="{% static '/img/icons/change.png' %}">
            </a>
        {% endif %}
        {% if perms.establecimientos.eliminar_directivo %}
            <a class="nolink" href="{% url 'establecimientos:eliminar_directivo' directivo_id=directivo.id %}">
                <img class="icons" src="{% static '/img/icons/delete.png' %}">
            </a>
        {% endif %}
    </p>
    <p>Documento de identidad: {{directivo.num_doc}}</p>
    <p>Domicilio: {{directivo.domicilio}}</p>
    <p>Telefono: {{directivo.telefono}}</p>
    <p>Email: {{directivo.email}}</p>
{% endblock %}