{% extends 'base_establecimientos.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Listado de Establecimientos</b></h2>
            {% include 'extras/buscador.html' %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="listado">
                    <tr>
                        <th>CUE</th>
                        <th>CueAnexo</th>
                        <th>Nombre</th>
                        <th>Sector</th>
                        <th>Ambito</th>
                        <th>Localidad</th>
                        <th>Ver Panel</th>
                    </tr>
                    {% for estab in establecimientos %}
                        <tr>
                            <td>{{estab.cue}}</td>
                            <td>{{estab.cueanexo}}</td>
                            <td>{{estab.nombre}}</td>
                            <td>{{estab.get_sector_display}}</td>
                            <td>{{estab.get_ambito_display}}</td>
                            <td>{{estab.localidad}}</td>
                            <td>
                                <a class="nolink" href="{% url 'establecimientos:ver_establecimiento' establecimiento_id=estab.id %}">
                                    <img class="icons" src="{% static '/img/icons/history.png' %}" alt="Ver Informacion Ampliada">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% include 'extras/paginador.html' with elementos=establecimientos %}
            </div>
        </div>
    </div>
{% endblock %}