{% extends 'base_establecimientos.html' %}
{% load seguridad_tags%}
{% load establecimientos_tags%}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Menu Establecimiento:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.establecimientos.buscar_establecimientos %}
                                <li><a href="{% url 'establecimientos:listado_establecimientos' %}">Listado de Establecimientos</a></li>
                            {% endif %}
                            {% if perms.establecimientos.crear_establecimientos %}
                                <li><a href="{% url 'establecimientos:crear_establecimiento' %}">Crear Establecimiento</a></li>
                            {% endif %}
                            {% if perms.establecimientos.administrador %}
                                <li><a href="{% url 'core:admin_usuario' app_name='Establecimientos' %}">Administrar Usuarios</a></li>
                            {% endif %}
                            
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'establecimientos:crear_administrador' %}">Crear Administrador</a></li>
                                <li><a href="{% url 'core:configurar_grupos' app_name='Establecimientos' %}">Configurar Roles</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Informacion del usuario:<b> {{request.user.username}}</b></p>
                        <p>Establecimiento:<b> {% ct_get_establecimiento request.user %}</b></p>
                        <p>Roles del usuario:</p>
                        <ul>
                            {% ct_get_grupos request.user as grupos %}
                            {% for grupo in grupos %}
                                <li>{{grupo.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}