{% block content %}
    <h2><b>Opciones:</b></h2>
    <ul class="menu_botones">
        {% if perms.establecimientos.modificar_establecimientos %}
            <li><a href="{% url 'establecimientos:mod_sede' sede_id=sede.id %}">
                Modificar Sede
            </a></li>
        {% endif %}
        {% if perms.establecimientos.modificar_establecimientos %}
            <li><a href="{% url 'establecimientos:crear_telefono' establecimiento_id=sede.establecimiento.id %}">
                Crear Telefono
            </a></li>
        {% endif %}
        {% if perms.establecimientos.crear_carrera %}
            <li><a href="{% url 'establecimientos:crear_carrera' establecimiento_id=sede.establecimiento.id %}">
                Crear Carrera
            </a></li>
        {% endif %}
        {% if request.user.is_superuser %}
            <li class="delete"><a href="{% url 'establecimientos:eliminar_sede' sede_id=sede.id %}">
                Eliminar Sede
            </a></li>
        {% endif %}
    </ul>
{% endblock %}