{% block content %}
    <h2><b>Opciones:</b></h2>
    <ul class="menu_botones">
        {% if perms.establecimientos.buscar_establecimientos %}
            <li><a href="{% url 'establecimientos:ver_alumnos_establecimiento' establecimiento_id=establecimiento.id %}">Ver Alumnos</a></li>
        {% endif %}
        {% if perms.establecimientos.modificar_establecimientos %}
            <li><a href="{% url 'establecimientos:mod_establecimiento' establecimiento_id=establecimiento.id %}">
                Modificar Datos Basicos
            </a></li>
        {% endif %}
        {% if perms.establecimientos.modificar_establecimientos %}
            <li><a href="{% url 'establecimientos:crear_sede' establecimiento_id=establecimiento.id %}">
                Agregar Sede
            </a></li>
        {% endif %}
        {% if perms.establecimientos.modificar_establecimientos %}
            <li><a href="{% url 'establecimientos:crear_telefono' establecimiento_id=establecimiento.id %}">
                Agregar Telefono
            </a></li>
        {% endif %}
        {% if perms.establecimientos.modificar_establecimientos %}
            <li><a href="{% url 'establecimientos:crear_directivo' establecimiento_id=establecimiento.id %}">
                Agregar Directivos
            </a></li>
        {% endif %}
        {% if perms.establecimientos.crear_carrera %}
            <li><a href="{% url 'establecimientos:crear_carrera' establecimiento_id=establecimiento.id %}">
                Agregar Carrera
            </a></li>
        {% endif %}
        {% if request.user.is_superuser %}
            <li class="delete"><a href="{% url 'establecimientos:eliminar_establecimiento' establecimiento_id=establecimiento.id %}">
                Eliminar Establecimiento
            </a></li>
        {% endif %}
    </ul>
{% endblock %}