{% block content %}
    <h2><b>Opciones:</b></h2>
    <ul class="menu_botones">
        {% if perms.establecimientos.modificar_carrera %}
            <li><a href="{% url 'establecimientos:mod_carrera' carrera_id=carrera.id %}">
                Modificar Carrera
            </a></li>
        {% endif %}
        {% if perms.establecimientos.eliminar_carrera %}
            <li class="delete"><a href="{% url 'establecimientos:eliminar_carrera' carrera_id=carrera.id %}">
                Eliminar Carrera
            </a></li>
        {% endif %}
    </ul>
{% endblock %}