{% load static %}
{% block content %}
        {% if alumnos %}
            <div class="row">
                <h2>Alumnos:</h2>
                <div class="col-sm-12">
                    <table class="listado">
                        <tr>
                            <th>DNI</th>
                            <th>Apellido y Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Carrera</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Localidad</th>
                            <th>Resumen</th>
                        </tr>
                        
                        {% for alumno in alumnos %}
                            <tr>
                                <td>{{alumno.beneficiario.num_doc}}</td>
                                <td>{{alumno.beneficiario.apellidos}}, {{alumno.beneficiario.nombres}}</td>
                                <td>{{alumno.beneficiario.fecha_nacimiento}}</td>
                                <td>{{alumno.carrera.nombre}}</td>
                                <td>{{alumno.beneficiario.telefono}}</td>
                                <td>{{alumno.beneficiario.email}}</td>
                                <td>{{alumno.beneficiario.domicilio_actual.localidad}}</td>
                                <td>
                                    <a class="nolink" href="{% url 'beneficiarios:resumen' beneficiario_id=alumno.beneficiario.id %}">
                                        <img class="icons" src="{% static '/img/icons/history.png' %}" alt="Ver Informacion Ampliada">
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% include 'extras/paginador.html' with elementos=alumnos %}
                </div>
            </div>
        {% endif %}
{% endblock %}