{% extends 'base_establecimientos.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <h2>
            {% if establecimiento.escudo %}
                <img class="escudo" src="{{establecimiento.escudo.url}}" alt="(foto)">
            {% else %}
                {% if perms.establecimientos.modificar_establecimientos %}
                    <a class="nolink" href="{% url 'establecimientos:mod_establecimiento' establecimiento_id=establecimiento.id %}">
                        <img class="escudo" src="{% static 'img/icons/add_pic.png' %}" alt="Agregar Escudo">
                    </a>
                {% endif %}
            {% endif %}
            <b>{{establecimiento.nombre}}</b>
        </h2>
        {% include 'extras/buscador.html' %}
        <br>
            {% include 'tabla_alumnos.html' %}
        </div>
    </div>
{% endblock %}