{% extends 'base_establecimientos.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <h2>
            {% if establecimiento.escudo %}
                <img class="escudo" src="{{establecimiento.escudo.url}}" alt="(foto)">
            {% else %}
                {% if perms.establecimientos.modificar_establecimientos %}
                    <a class="nolink" href="{% url 'establecimientos:mod_establecimiento' establecimiento_id=establecimiento.id %}">
                        <img class="escudo" src="{% static 'img/icons/add_pic.png' %}" alt="Agregar Escudo">
                    </a>
                {% endif %}
            {% endif %}
            <b>{{establecimiento.nombre}}</b>
        </h2>
        <br>
        <div class="row">
            <div class="row">
                <div class="col-sm-8">
                    <div class="col-md-6">
                        <p><b>CUE ANEXO:</b> {{establecimiento.cueanexo}}</p>
                        <p><b>CUE:</b> {{establecimiento.cue}}</p>
                        <p><b>Sector:</b> {{establecimiento.get_sector_display}}</p>
                        <p><b>Ambito:</b> {{establecimiento.get_ambito_display}}</p>
                        <p><b>Periodo:</b> {{establecimiento.get_periodo_display}}</p>
                        <p><b>Email:</b> {{establecimiento.email}}</p>
                        <p><b>Web:</b> {{establecimiento.web}}</p>
                        <p><b>Alumnos Cursando:</b> {{establecimiento.cantidad_alumnos}}</p>
                    </div>
                    <div class="col-md-6">
                        {% for edu in establecimiento.edu_comun.all %}
                            {% if forloop.first %}
                                Educacion Comun:</p>
                                <lu>
                            {% endif %}
                            <li>{{edu.nombre}}</li>
                            {% if forloop.last %}
                                </lu>
                            {% endif %}
                        {% endfor %}
                        {% for edu in establecimiento.edu_especial.all %}
                            {% if forloop.first %}
                                Educacion Especial</p>
                                <lu>
                            {% endif %}
                            <li>{{edu.nombre}}</li>
                            {% if forloop.last %}
                                </lu>
                            {% endif %}
                        {% endfor %}
                        {% for edu in establecimiento.edu_adultos.all %}
                            {% if forloop.first %}
                                <p>Educacion Adultos:</p>
                                <lu>
                            {% endif %}
                            <li>{{edu.nombre}}</li>
                            {% if forloop.last %}
                                </lu>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    {% include 'opciones_establecimiento.html' %}
                </div>
            </div>

            <div class="row">
                <hr>
                {% for sede in establecimiento.sedes_activas.all %}
                    <div class="col-sm-6">
                        <h2><b><a class="nolink" href="{% url 'establecimientos:ver_sede' sede_id=sede.id %}">{{sede.nombre}}</a></b></h2>
                        <p>Region: {{sede.get_region_display}}</p>
                        <p>Localidad: {{sede.localidad.nombre}}, Barrio: {{sede.barrio.nombre}}</p>
                        <p>Direccion: {{sede.calle}} {{sede.numero}}</p>
                        <br>
                        {% if sede.telefonos_activos %}
                            <p><b>Telefonos:</b></p>
                            <ul>
                                {% for telefono in sede.telefonos_activos.all %}
                                    {% include 'info_telefono.html' %}
                                {% endfor %}
                            </ul>
                            <br>
                        {% endif %}
                        {% if sede.carreras_activas %}
                            <ul>
                                {% for carrera in sede.carreras_activas %}
                                    <p><b>{{carrera.nombre}}</b></p>
                                    <p>Cantidad de Materias: {{carrera.cant_materias}}</p>
                                {% endfor %}
                            <ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% if establecimiento.directivos_activos %}
                <hr>
                <div class="row">
                <h3><b>Directivos:</b></h3>
                    <div class="col-sm-4">
                        {% for directivo in  establecimiento.directivos_activos %}
                            {% include 'info_directivo.html' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}