{% extends 'base_establecimientos.html' %}

{% load static %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col-sm-5">
                <h2><b>{{sede.nombre}}</b></h2>
                <p>Region: {{sede.get_region_display}}</p>
                <p>Localidad: {{sede.localidad.nombre}}, Barrio: {{sede.barrio.nombre}}</p>
                <p>Direccion: {{sede.calle}} {{sede.numero}}</p>
                <br>
            </div>
            <div class="col-sm-3">
                <br>
                {% if sede.telefonos_activos %}
                    <p><b>Telefonos:</b></p>
                    <ul>
                        {% for telefono in sede.telefonos_activos %}
                            {% include 'info_telefono.html'%}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% include 'opciones_sede.html'%}
            </div>
        </div>
        <hr>
        {% for carrera in sede.carreras_activas %}
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h3><b>{{carrera.nombre}}</b></h3>
                    <p><b>Cantidad de Materias:</b> {{carrera.cant_materias}}</p>
                    <p><b>Alumnos Cursando:</b>{{carrera.cantidad_alumnos}}</p>
                    {% with carrera.alumnos.all as alumnos%}
                        {% include 'tabla_alumnos.html'%}
                    {% endwith %}
                </div>
                <div class="col-sm-4">
                    {% include 'opciones_carrera.html'%}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}