{% extends 'base/base.html' %}

{% block content %}
<div class="encuesta">
    <h1>{{ encuesta.titulo }}</h1>
    <p>{{ encuesta.descripcion | safe }}</p>
    <hr>
    <p>Dar Resultado</p>
</div>
{% endblock %}