{% extends 'base/base.html' %}

{% block content %}
<div class="contenedor-encuesta"> 
    <div class="encuesta-titulo">
        <h1>{{ encuesta.titulo }}</h1>
        <p>{{ encuesta.descripcion | safe }}</p>
    </div>
    <div class="encuesta-completar">
        <form action="" name="{encuesta.orden}}" method="POST">
            {% csrf_token %}
            {% for pregunta in encuesta.preguntas.all %}
                <h3> {{ pregunta.pregunta }} </h3>
                {% for opcion in pregunta.opciones.all %}
                    <input type="radio" name="{{pregunta.orden}}"  value="{{pregunta.orden}}-{{opcion.orden}}"> {{opcion.opcion }}<br>
                {% endfor %}
            {% endfor %}
            <hr>
            <button>Responder Encuesta</button>
        </form> 
    </div>
</div>
{% endblock %}