{% extends 'base/base.html' %}

{% load contenidos_extras %}

{% block content %}
    <div class="contenedor-encuesta">
        <div class="encuesta-titulo">
            <h1>{{ encuesta.titulo }}</h1>
            <p>{{ encuesta.descripcion | safe }}</p>
            <hr>
            <p>Votos realizados: {{ encuesta.respuestas.all|length }}</p>
        </div>
        <div class="encuesta-respuesta">
            {% for preg in encuesta.preguntas.all %}
                <h3>{{ preg.pregunta }}</h3>
                <ul>
                {% for opcion in preg.opciones.all %}
                    <li>{{opcion.opcion}}: {% retornar_valor resultados preg.orden opcion.orden %}</li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}