{% extends 'base/base.html' %}


{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container informacion_basica">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1>Los datos ingresados son incorrectos</h1>
                        {% if error %}
                            <p>{{error}}</p>
                        {% endif %}
                        <a href="javascript:history.back()"><p>Vuelva a intentarlo</p></a>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}