{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include "base/header.html" %}

    {% include "carousel.html" %}

    <br>
    <div class="container home">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-3">
                <div class="boton_ingreso">
                    <a class="nolink" href="{% url 'beneficiarios:ingreso_beneficiario' %}">
                        <h2>Ya tenes begup?</h2>
                        <p>Ingresa aqui tu cuenta</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <br>
    <div class="container home" style="text-align:center;">
        <br>
        <div class="row"> 
            <h1>REQUISITOS A PRESENTAR</h1>
            <br>
            <div class="col-sm-4 bloque_claro">
                <h3><b>Nivel Primario o Secundario</b></h3>
                <ul>
                    <li>DNI original y copia del solicitante.</li>
                    <li>DNI original y copia del padre o tutor en caso de que el solicitante sea menor de 16 años.</li>
                    <li>Certificado de residencia si el domicilio figurado en el formulario no coincide con el del DNI.</li>
                    <li>Certificado de alumno regular.</li>
                </ul>
            </div>
            <div class="col-sm-4 bloque_claro">
                <h3><b>Nivel Terciario y Universitario</b></h3>
                <ul>
                    <li>DNI original y copia del solicitante.</li>
                    <li>Constancia de Alumno Regular 2019 (Original o Copia Autenticada)</li>
                    <li>Certificado de residencia si el domicilio constatado en el formulario no coincida con el DNI.</li>
                    <li>Certificado analítico o Constancia analítica en la cual certifique las últimas dos materias aprobadas.</li>
                    <li>(Alumnos avanzados) SIN EXCEPCIÓN</li>
                </ul>
            </div>
            <div class="col-sm-4 bloque_claro">
                <h3><b>DOCENTE</b></h3>
                <ul>
                    <li>DNI original y copia del solicitante.</li>
                    <li>Planilla Solicitud Abonos del mes correspondiente.- (Una por Institución)</li>
                    <li>Certificado de Residencia (Debe coincidir con domicilio del DNI)</li>
                    <li>Declaración Jurada de Cargo.</li>
                    <li>Tarjeta SUBE.</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 bloque_claro">
                <h2>Para los Renovadores</h2>
                <p><b>Traer todos los requisitos anteriormente nombrados más el CARNET YA OTORGADO.</b></p>
                <p>Todos los renovantes y nuevos beneficiarios tienen que concurrir a los puntos fijos para sacar la foto y actualizar el legajo.</p>
                <p>Cualquier duda o consulta puedes acercarte a las oficinas de Casa Central en la terminal nueva Box 11 y 12 Atención al Público.</p>
            </div>
        </div>
    </div>

{% endblock %}