{% load static %}

{% block content %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if refresh %}
        <meta http-equiv="refresh" content="{{refresh}}"/>
    {% endif %}

    <title>{% block title %}BEGUP{% endblock %}</title>
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/constantes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_botones.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popups.css' %}" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">

    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

    {% if has_table %}
        <!-- Datatables -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}" />
    {% endif %}
    
    <!-- Forms -->
    {% if form or has_form %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/generic_form.css" />
        <!-- Date Picker -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.min.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    {% endif %}

{% endblock %}