{% load static %}
{% block content %}

    {% if form %}
        {{ form.media }}
    {% else %}
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    {% endif %}

    {% if has_table %}
        <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tablescripts.js' %}"></script>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popups.js' %}"></script>

{% endblock %}