{% extends 'base_beneficiarios.html' %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Creditos Sin aprobar</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado">
                <tr>
                    <th colspan="3">Beneficiario</th>
                    <th>Fecha Pedido</th>
                    <th>Tramo</th>
                    <th>Cantidad Boletos</th>
                    <th>Ver Pedido</th>
                </tr>
                {% for credito in creditos %}
                    <tr>
                        <td>{{credito.beneficiario.num_benef}}</td>
                        <td>{{credito.beneficiario.num_doc}}</td>
                        <td>{{credito.beneficiario.apellidos}}, {{credito.beneficiario.nombres}}</td>
                        <td>{{credito.fecha_pedido}}</td>
                        <td>{{credito.tramo}}</td>
                        <td>{{credito.credito_total}}</td>
                        <td><a href="{% url 'beneficiarios:ver_credito' credito_id=credito.id %}" target="_blank">(Ver Detalle)</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'extras/paginador.html' with elementos=creditos %}
        </div>
    </div>
{% endblock %}