{% extends 'base_beneficiarios.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Documentos Sin aprobar</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado">
                <tr>
                    <th>Num Benef</th>
                    <th colspan="2">Beneficiario</th>
                    <th>Tipo</th>
                    <th>Fecha Subido</th>
                    <th>Ver Documento</th>
                    <th>Acciones</th>
                </tr>
                {% for documento in documentos %}
                    <tr>
                        <td>{{documento.beneficiario.num_benef}}</td>
                        <td>{{documento.beneficiario.num_doc}}</td>
                        <td><a href="{% url 'beneficiarios:resumen' beneficiario_id=documento.beneficiario.id %}">{{documento.beneficiario.apellidos}}, {{documento.beneficiario.nombres}}</a></td>
                        <td>{{documento.tipo.nombre}}</td>
                        <td>{{documento.fecha}}</td>
                        <td><a href="{{documento.archivo.url}}" target="_blank">(Ver Documento)</a></td>
                        <td>
                            <a href="{% url 'beneficiarios:activar_doc' doc_id=documento.id %}">
                                <img class="icons" src="{% static 'img/icons/ok.png' %}">
                            </a>
                            <a href="{% url 'beneficiarios:eliminar_doc' doc_id=documento.id %}">
                                <img class="icons" src="{% static 'img/icons/delete.png' %}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'extras/paginador.html' with elementos=documentos %}
        </div>
    </div>
{% endblock %}