{% extends 'base_beneficiarios.html' %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <br>
            <h1>Historial de Creditos</h1>
            <h2>Beneficiario: {{beneficiario.apellidos}}, {{beneficiario.nombres}}</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado">
                <tr>
                    <th>Tramo</th>
                    <th>Fecha Pedido</th>
                    <th>Cantidad Boletos</th>
                    <th>Estado</th>
                    <th>Ver Credito</th>
                </tr>
                {% for credito in creditos %}
                    <tr>
                        <td>{{credito.tramo}}</td>
                        <td>{{credito.fecha_pedido}}</td>
                        <td>{{credito.credito_total}}</td>
                        <td>{{credito.estado_str}}</td>
                        <td><a href="{% url 'beneficiarios:ver_credito' credito_id=credito.id %}" target="_blank">(Ver Detalle)</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}