{% extends 'base_beneficiarios.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Tramos Existentes</b></h2>
            <a class="nolink" href="{% url 'beneficiarios:crear_tramo' %}">
                Agregar Tramo
                <img class="icons" src="{% static '/img/icons/add_road.jpg' %}">
            </a>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado" id="table">
                <thead>
                    <tr>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Precio Promedio</th>
                        <th>Ver Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tramo in tramos %}
                        <tr>
                            <td>{{tramo.origen}}</td>
                            <td>{{tramo.destino}}</td>
                            <td>${{tramo.precio_promedio}}</td>
                            <td>
                                <a class="nolink" href="{% url 'beneficiarios:ver_tramo' tramo_id=tramo.id %}">
                                    <img class="icons" src="{% static '/img/icons/history.png' %}">
                                </a>
                                <a class="nolink" href="{% url 'beneficiarios:eliminar_tramo' tramo_id=tramo.id %}">
                                    <img class="icons" src="{% static '/img/icons/delete.png' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}