{% extends 'base_beneficiarios.html' %}
{% load seguridad_tags%}
{% load beneficiarios_tags %}
{% block content %}
    <br>
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.beneficiarios.crear_beneficiario %}
                                <li><a href="{% url 'beneficiarios:crear_beneficiario' %}">Cargar Nuevo Beneficiario</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.buscar_beneficiario %}
                                <li><a href="{% url 'beneficiarios:buscar_beneficiario' %}">Buscar Beneficiario</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.ver_cred_pendientes %}
                                <li><a href="{% url 'beneficiarios:creditos_pendientes' %}">Creditos Esperando Aprobacion</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.ver_docs_pendientes %}
                                <li><a href="{% url 'beneficiarios:documentos_pendientes' %}">Documentos Esperando Aprobacion</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.ver_tramos %}
                                <li><a href="{% url 'beneficiarios:lista_tramos' %}">Ver Tramos</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.ver_costos %}
                                <li><a href="{% url 'empresas:lista_costos' %}">Ver Costos de Pasajes</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.auditar_operadores %}
                                <li><a href="{% url 'core:auditoria' %}">Ver Auditoria de Operadores</a></li>
                            {% elif perms.beneficiarios.auditaria_propia %}
                                <li><a href="{% url 'core:auditoria_propia' user_id=request.user.id %}">Ver Mis Acciones</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.informe_diario %}
                                <li><a href="{% url 'empresas:informe_diario' %}">Ver Informe Diario de Empresas</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.facturacion_mensual %}
                                <li><a href="{% url 'empresas:facturacion_mensual' %}">Ver Informe Mensual de Empresas</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.reporte_tarjetas %}
                                <li><a href="{% url 'beneficiarios:tarjetas_impresas' %}">Ver Informe Tarjetas Impresas</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.reporte_creditos %}
                                <li><a href="{% url 'beneficiarios:reporte_creditos' %}">Ver Informe de Creditos Gestionados</a></li>
                            {% endif %}
                            {% if perms.beneficiarios.administrador %}
                                <li><a href="{% url 'core:admin_usuario' app_name='Beneficiarios' %}">Administrar Usuarios</a></li>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'core:configurar_grupos' app_name='Beneficiarios' %}">Configurar Roles</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p><b>Informacion del usuario:</b></p>
                            <p>{{request.user.username}}</p>
                        <p>Roles del usuario:</p>
                        <ul>
                            {% ct_get_grupos request.user as grupos %}
                            {% for grupo in grupos %}
                                <li>{{grupo.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}