{% block content %}
    <h2><b>Opciones:</b></h2>
    <ul class="menu_botones">
        {% if beneficiario.fotografia %}
            {% if request.user.is_superuser or not beneficiario.qrpath %}
                <li><a href="{% url 'beneficiarios:ver_tarjeta' beneficiario_id=beneficiario.id %}" target="_blank">Tarjeta</a></li>
            {% else %}
                <li>Esta Tarjeta Ya fue impresa, solo puede volver a hacerlo el administrador.</li>
            {% endif %}
        {% else %}
            <li>Para poder Imprimir Tarjeta, debe subir una fotografia</li>
        {% endif %}
        {% if perms.beneficiarios.crear_credito %}
            <li><a href="{% url 'beneficiarios:crear_credito' beneficiario_id=beneficiario.id %}" target="_blank">Crear Credito</a></li>
        {% endif %}
        {% if perms.beneficiarios.modificar_beneficiario %}
            <li><a href="{% url 'beneficiarios:subir_fotografia' beneficiario_id=beneficiario.id %}">Cambiar mi Foto</a></li>
            <li><a href="{% url 'beneficiarios:modificar_beneficiario' beneficiario_id=beneficiario.id %}">Cambiar datos Personales</a></li>
        {% endif %}
        {% if perms.beneficiarios.modificar_beneficiario %}
            <li><a href="{% url 'beneficiarios:modificar_domicilios' beneficiario_id=beneficiario.id %}">Actualizar Domicilio</a></li>
        {% endif %}
        {% if perms.beneficiarios.modificar_beneficiario %}
            <li><a href="{% url 'beneficiarios:modificar_info_educativa' beneficiario_id=beneficiario.id %}">Actualizar Datos Educativos</a></li>
        {% endif %}
        {% if perms.beneficiarios.modificar_beneficiario %}
            <li><a href="{% url 'beneficiarios:subir_documentacion' beneficiario_id=beneficiario.id %}" target="_blank">Subir Documentacion</a></li>
        {% endif %}
        {% if perms.beneficiarios.baja_beneficiario %}
            <li class="delete"><a href="{% url 'beneficiarios:baja_beneficiario' beneficiario_id=beneficiario.id %}">Dar de Baja Beneficiario</a></li>
        {% endif %}
    </ul>
{% endblock %}