{% extends 'base_beneficiarios.html' %}

{% load static %}

{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contraibles.css' %}" />
{% endblock %}

{% block content %}
        <div class="quees">
            <h2>Creditos Gestionados</h2>
            <h3>Periodo: {{begda}} - {{endda}}</h3>
            <h3>
                <a class="buscador nolink" href="{% url 'beneficiarios:download_creditos' begda=begda endda=endda %}">
                    Descargar
                    <img class="icons" src="{% static 'img/icons/download.png'%}">
                </a>
            </h3>
            <br>
            <div class="seccion-preguntas-frecuentes">
                <ul class="preguntas-frecuentes">
                    <li>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eventos_pedidos" aria-expanded="false" aria-controls="collapseExample">
                        <h3>Creditos Pedidos: {{eventos_pedidos|length}}</h3>
                        </button>
                        <div id="eventos_pedidos" class="collapse texto-explicativo">
                            <table class="listado">
                                <tr>
                                    <th colspan="3">Beneficiario</th>
                                    <th>Tramo</th>
                                    <th>Cantidad</th>
                                    <th>Fecha de Pedido</th>
                                </tr>
                                {% for evento in eventos_pedidos %}
                                    <tr>
                                        {% with evento.credito.beneficiario as beneficiario %}
                                            <td>{{beneficiario.get_tipo_benef_display}}</td>
                                            <td>{{beneficiario.num_doc}}</td>
                                            <td>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</td>
                                        {% endwith %}
                                        <td>{{evento.credito.tramo}}</td>
                                        <td>{{evento.credito.credito_total}}</td>
                                        <td>{{evento.fecha}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eventos_aprobados" aria-expanded="false" aria-controls="collapseExample">
                        <h3>Creditos Aprobados: {{eventos_aprobados|length}}</h3>
                        </button>
                        <div id="eventos_aprobados" class="collapse texto-explicativo">
                            <table class="listado">
                                <tr>
                                    <th colspan="3">Beneficiario</th>
                                    <th>Tramo</th>
                                    <th>Cantidad</th>
                                    <th>Fecha de Pedido</th>
                                </tr>
                                {% for evento in eventos_aprobados %}
                                    <tr>
                                        {% with evento.credito.beneficiario as beneficiario %}
                                            <td>{{beneficiario.get_tipo_benef_display}}</td>
                                            <td>{{beneficiario.num_doc}}</td>
                                            <td>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</td>
                                        {% endwith %}
                                        <td>{{evento.credito.tramo}}</td>
                                        <td>{{evento.credito.credito_total}}</td>
                                        <td>{{evento.fecha}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eventos_cobrados" aria-expanded="false" aria-controls="collapseExample">
                        <h3>Codigos Entregados: {{eventos_cobrados|length}}</h3>
                        </button>
                        <div id="eventos_cobrados" class="collapse texto-explicativo">
                            <table class="listado">
                                <tr>
                                    <th colspan="3">Beneficiario</th>
                                    <th>Tramo</th>
                                    <th>Empresa</th>
                                    <th>Cantidad</th>
                                    <th>Fecha de Entrega</th>
                                </tr>
                                {% for evento in eventos_cobrados %}
                                    <tr>
                                        {% with evento.credito.beneficiario as beneficiario %}
                                            <td>{{beneficiario.get_tipo_benef_display}}</td>
                                            <td>{{beneficiario.num_doc}}</td>
                                            <td>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</td>
                                        {% endwith %}
                                        <td>{{evento.credito.tramo}}</td>
                                        <td>{{evento.consumo.empresa}}</td>
                                        <td>{{evento.consumo.cantidad}}</td>
                                        <td>{{evento.fecha}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eventos_vencidos" aria-expanded="false" aria-controls="collapseExample">
                        <h3>Codigos Vencidos por No Retirar: {{eventos_vencidos|length}}</h3>
                        </button>
                        <div id="eventos_vencidos" class="collapse texto-explicativo">
                            <table class="listado">
                                <tr>
                                    <th colspan="3">Beneficiario</th>
                                    <th>Tramo</th>
                                    <th>Cantidad</th>
                                    <th>Fecha Vencimiento</th>
                                </tr>
                                {% for evento in eventos_vencidos %}
                                    <tr>
                                        {% with evento.credito.beneficiario as beneficiario %}
                                            <td>{{beneficiario.get_tipo_benef_display}}</td>
                                            <td>{{beneficiario.num_doc}}</td>
                                            <td>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</td>
                                        {% endwith %}
                                        <td>{{evento.credito.tramo}}</td>
                                        <td>{{evento.consumo.cantidad}}</td>
                                        <td>{{evento.fecha}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </li>              
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
        <script type="text/javascript" src="{% static 'js/faqs.js' %}"></script>
{% endblock %}