{% extends 'base_beneficiarios.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>
                <b>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</b>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-4">
                    {% include 'generic/foto_beneficiario.html' %}
                </div>
                <div class="col-md-8">
                    {% include 'generic/datos_beneficiario.html' %}
                </div>
            </div>
            <div class="col-md-4">
                {% include 'administradores/opciones_resumen.html' %} 
            </div>
        </div>
        <div class="row">
            {% include 'generic/creditos.html' %}
            {% include 'generic/datos_educativos.html' %}
            {% include 'generic/documentos.html' %}
        </div>
    </div>
{% endblock %}