{% extends 'base_beneficiarios.html' %}
{% load static %}
{% load util_tags %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Tarjetas Impresas</h2>
            <h3>Periodo: {{begda}} - {{endda}}</h3>
            <h3>Tarjetas Impresas: {{registros|length}}</h3>
            <h3>
                <a class="buscador nolink" href="{% url 'beneficiarios:download_tarjetas' begda=begda endda=endda %}">
                    Descargar
                    <img class="icons" src="{% static 'img/icons/download.png'%}">
                </a>
            </h3>
        </div>
        <div class="row">
        <div class="col-md-12">
            <table class="listado">
                <tr>
                    <th colspan="3">Beneficiario</th>
                    <th>Fecha de Impresion</th>
                    <th>Usuario</th>
                </tr>
                {% for registro in registros %}
                    {% ct_get_from_dict dict_beneficiarios registro.object_id as beneficiario %}
                    <tr>
                        <td>Dni: {{beneficiario.num_doc}}</td>
                        <td>{{beneficiario.get_tipo_benef_display}} - {{beneficiario.num_benef}}</td>
                        <td>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</td>
                        <td>{{registro.timestamp}}</td>
                        <td>{{registro.actor}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}