<!DOCTYPE html>
<html>
    <head>
        <title>ImprimirCredencial</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        {% load static %}
        <link href="{% static 'css/tarjeta/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/tarjeta/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container tarjeta">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <div class="cabecera">
                            <h3 class="tipo">
                                {{beneficiario.get_tipo_benef_display}}: {{beneficiario.info_educativa_actual.get_nivel_display}}
                            </h3>
                            <hr>
                            {% for credito in beneficiario.creditos_actuales %}
                                <p class="tramo">{{credito.tramo}}</p>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="informacion">
                            <p class="nums"><b>N° Beneficiario:</b> {{beneficiario.num_benef}}</p>
                            <p class="nums"><b>N° Documento:</b> {{beneficiario.num_doc}}</p>
                            <p><b>Nombre y Apellido:</b></p>
                            <p class="tab">{{beneficiario.apellidos}}, {{beneficiario.nombres}}</p>
                            <p><b>Establecimiento:</b></p>
                            <p class="tab">{{beneficiario.info_educativa_actual.establecimiento.nombre}}</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="row recuadrofoto">
                            <img class="foto" src="{{beneficiario.fotografia.url}}">
                        </div>
                        <div class="row">
                            <img class="qr" src="{{beneficiario.get_qrimage}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>