{% extends 'base_beneficiarios.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    <b>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</b>
                </h2>
                {% include 'generic/datos_beneficiario.html' %}
            </div>
            <div class="col-md-4">
                <ul class="menu_botones">
                    {% if credito.estado == 'P' %}
                        <li><a href="{% url 'beneficiarios:editar_credito' credito_id=credito.id %}">Editar</a></li>
                        {% if perms.beneficiarios.aprobar_credito %}
                            <li><a href="{% url 'beneficiarios:aprobar_credito' credito_id=credito.id %}">Aprobar</a></li>
                        {% endif %}
                        <li class="delete"><a href="{% url 'beneficiarios:eliminar_credito' credito_id=credito.id %}">Eliminar Peticion</a></li>
                    {% elif credito.estado == 'A' %}
                        {% if perms.establecimientos.vencer_credito %}
                            <li class="delete"><a href="{% url 'beneficiarios:baja_credito' credito_id=credito.id %}">Dar de Baja</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{% url 'beneficiarios:resumen' beneficiario_id=credito.beneficiario.id %}">Ver Resumen del Beneficiario</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="recuadro">
                    <p><b>Tramo:</b> {{credito.tramo}}</p>
                    <p><b>Fecha Pedido:</b> {{credito.fecha_pedido}}</p>
                    <p><b>Estado:</b> {{credito.estado_str}}</p>
                    <hr>
                    <p><b>Boletos Pedidos:</b> {{credito.credito_total}}</p>
                    <p><b>Boletos Usado:</b> {{credito.credito_usado}}</p>
                    <p><b>Boletos Disponibles:</b> {{credito.credito_actual}}</p>
                    <hr>
                    <p><b>Eventos</b></p>
                    <ul>
                        {% for evento in credito.eventos.all %}
                            <li>
                                {{evento.get_tipo_display}}: {{evento.fecha}}
                                {% if evento.tipo == 'C' %}
                                    , Cantidad: {{evento.consumo.cantidad}}
                                    {% if evento.consumo.empresa %}
                                        {{evento.consumo.empresa}}.
                                    {% else %}
                                        Vencimiento.
                                    {% endif %}
                                {% endif %}
                                ({{evento.descripcion}})
                                {% if evento.tipo == 'A' %}
                                    <ul class="codigo">
                                        {% for codigo in evento.credito.codigos.all %}
                                            <li>
                                                {{codigo.porcentaje}}%: 
                                                
                                                {% if puede_ver_codigo %}
                                                    <b>{{codigo.clave}}</b>
                                                {% else %}
                                                    <b>Codigo Protegido</b>
                                                {% endif %}
                                                
                                                {% if codigo.usado %}
                                                    <img class="icons" src="/static/admin/img/icon-deletelink.svg" alt="Utilizado">
                                                {% else %}
                                                    <img class="icons" src="/static/img/icons/check.png" alt="Disponible">
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}