{% extends 'base_beneficiarios.html' %}
{% load static %}
{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Tramo: {{tramo}}</h2>
        </div>
        <a class="nolink" href="{% url 'empresas:crear_costo' tramo_id=tramo.id %}">
            Crear Costo
            <img class="icons" src="{% static '/img/icons/add_road.jpg' %}">
        </a>
        <div class="row">
        <div class="col-md-12">
            <table class="listado">
                <tr>
                    <th>Empresa</th>
                    <th>Validez</th>
                    <th>Costo</th>
                </tr>
                {% for costo in costos %}
                    <tr>
                        <td>{{costo.empresa}}</td>
                        <td>{{costo.begda}} a {{costo.endda}}</td>
                        <td>${{costo.precio}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'extras/paginador.html' with elementos=costos %}
        </div>
    </div>
{% endblock %}