{% extends 'base_empresa.html' %}

{% block content %}
    <div class="container beneficiario">
        <br>
        <h3>Se autorizo y confirmo la entrega de pasajes para el beneficiario<h3>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 informacion">
                <p><b>{{benef.get_tipo_benef_display}}:</b> N° {{benef.num_benef}}</p>
                <p><b>{{benef.get_tipo_doc_display}}</b> {{benef.num_doc}}</p>
                <p><b>Fecha de Nacimiento:</b> {{benef.fecha_nacimiento}}</p>
                <p><b>Telefono:</b> {{benef.telefono}}</p>
                <p><b>Email: </b>{{benef.email}}</p>
            </div>
            <div class="col-md-5 informacion">
                <p><b>Tramo:</b> {{credito.tramo}}</p>
                <p><b>Codigo Utilizado:</b> {{codigo.clave}} de {{codigo.porcentaje}}%</b>
                <p><b>Entregar: </b>{{consumo.cantidad}} Pasajes</b>
                <p><b>Fecha de Entrega:</b> {{evento.fecha}}</p>
            </div>
        </div>
        <a class="volver" href="{% url 'empresas:menu' %}">Volver al menu principal</a>
    </div>
{% endblock %}