{% extends 'base_empresa.html' %}

{% block content %}
    <div class="container beneficiario">
        <h3><b>Credito para Entregar:</b></h3>
        <div class="row">
            <div class="col-md-4">
                <div class="credito">
                    <p><b>Tramo:</b> {{credito.tramo}}</p>
                    <p><b>Cantidad Total:</b> {{credito.credito_total}}</p>
                    <p><b>Cantidad Usada:</b> {{credito.credito_usado}}</p>
                    <p><b>Cantidad Disponible:</b> {{credito.credito_actual}}</p>
                </div>

                <div class="historico">
                    <p><b>HISTORICO</b></p>
                    {% for evento in credito.eventos.all %}
                        <p>{{evento.get_tipo_display}}: {{evento.fecha}}
                            {% if evento.tipo == 'C' %}
                                , Cantidad: {{evento.consumo.cantidad}} por 
                                {% if evento.consumo.empresa %}
                                    {{evento.consumo.empresa}}.
                                {% else %}
                                    Vencimiento.
                                {% endif %}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                {% include "extras/generic_form-nobase.html" %}
            </div>
        </div>
    </div>
{% endblock %}