{% extends 'base_empresa.html' %}
{% load humanize %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Detalle de Facturacion</h1>
                    <h2>{{empresa}}</h2>
                    <h2>Tramo: {{tramo}}</h2>
                    <h3><b>Periodo:</b> {{begda|date:'m/Y'}}</h3>
                    <div class="col-md-12">
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Beneficario</th>
                                    <th>Fecha</th>
                                    <th>Cantidad Pasajes</th>
                                    <th>Precio Pasaje</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in eventos %}
                                    <tr>
                                        {% with evento.credito.beneficiario as beneficiario %}
                                            <td>{{beneficiario.num_doc}}</td>
                                            <td>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</td>
                                        {% endwith %}
                                        <td>{{evento.fecha}}</td>
                                        <td>{{evento.consumo.cantidad}}</td>
                                        <td>
                                            {{evento.consumo.costo}}
                                            {% if evento.consumo.actualizado %}
                                                <b>(Modificado Post-Consumo: {{evento.consumo.actualizado}})</b>
                                            {% endif %}
                                        </td>
                                        <td>{{evento.consumo.subtotal}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}