{% extends 'base_empresa.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include "extras/generic_form-nobase.html" %}
            </div>

            <div class="col-md-5">
                <div class="historico">
                    <h3><b>Facturaciones Realizadas:</b></h3>
                    <ul>
                        {% for factura in facturas %}
                            <li>
                                {{factura}}
                                <a class="nolink" href="{% url 'empresas:ver_factura' factura_id=factura.id%}">
                                    <img class="icons" src="{% static '/img/icons/history.png' %}">
                                </a>
                                <a class="nolink"  href="{% url 'empresas:csv_factura' factura_id=factura.id%}">
                                    <img class="icons" src="{% static '/img/icons/download.png' %}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}