{% extends 'base_empresa.html' %}
{% load humanize %}
{% load empresas_tags %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Informe Diario</h1>
                    {% if empresa %}<h2>{{empresa}}{% endif %}
                    <h3><b>Fecha:</b> {{fecha|date:'d/m/Y'}}</h3>
                    <div class="col-md-12">
                        <table class="listado" id="table">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Beneficario</th>
                                    <th>Tramo</th>
                                    {% if not empresa %}<th>Empresa</th>{% endif %}
                                    <th>Cantidad Pasajes</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for evento in eventos %}
                                    <tr>
                                        {% with evento.credito.beneficiario as beneficiario %}
                                            <td>{{beneficiario.num_doc}}</td>
                                            <td>{{beneficiario.apellidos}}, {{beneficiario.nombres}}</td>
                                        {% endwith %}
                                        <td>{{evento.credito.tramo}}</td>
                                        {% if not empresa %}<td>{{evento.consumo.empresa}}</td>{% endif %}
                                        <td>{{evento.consumo.cantidad}}</td>
                                        <td>{{evento.consumo.subtotal}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tr class="resultado">
                                <th colspan="{% if empresa %}3{% else %}4{% endif %}">Total</th>
                                <th>{% ct_sumar_pasajes eventos %}</th>
                                <th>{% ct_sumar_costo eventos %}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}