{% extends 'base_beneficiarios.html' %}

{% load static %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2><b>Costos Habilitados</b></h2>
            {% if empresa %}
                <h3>
                    Empresa: {{empresa.nombre}}
                </h3>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-8">
                <table class="listado" id="table">
                    <thead>
                        <tr>
                            {% if not empresa %}
                                <th>Empresa</th>
                            {% endif %}
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for costo in costos %}
                            <tr>
                                {% if not empresa %}
                                    <td>{{costo.empresa.nombre}}</td>
                                {% endif %}
                                <td>{{costo.tramo.origen}}</td>
                                <td>{{costo.tramo.destino}}</td>
                                <td>${{costo.precio}}</td>
                                <td>
                                    {% if perms.empresas.ver_costos or perms.beneficiarios.ver_costos%}
                                        <a class="nolink" href="{% url 'empresas:ver_costo' costo_id=costo.id %}">
                                            <img class="icons" src="{% static '/img/icons/history.png' %}" alt="Ver Historico">
                                        </a>
                                    {% endif %}
                                    {% if perms.empresas.crear_costos %}
                                        <a class="nolink" href="{% url 'empresas:actualizar_costo' costo_id=costo.id %}">
                                            <img class="icons" src="{% static '/img/icons/update.png' %}" alt="Actualizar Precio">
                                        </a>
                                        <a class="nolink" href="{% url 'empresas:desactivar_costo' costo_id=costo.id %}">
                                            <img class="icons" src="{% static '/img/icons/delete.png' %}" alt="Eliminar Costo">
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h2><b>Opciones:</b></h2>
                <ul class="menu_botones">
                    {% if perms.empresas.crear_costos %}
                        <li><a href="{% url 'beneficiarios:crear_tramo' %}" target="_blank">Crear Nuevo Tramo</a></li>
                        <li><a href="{% url 'empresas:crear_costo' %}" target="_blank">Crear Nuevo Costo</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}