{% extends 'base_empresa.html' %}
{% load seguridad_tags%}
{% load empresas_tags%}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Empresas:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            {% if perms.empresas.entregar_credito %}
                                <li><a href="{% url 'empresas:buscar_credito'  %}">Entregar Pasajes</a></li>
                            {% endif %}
                            {% if perms.empresas.informe_diario %}
                                <li><a href="{% url 'empresas:informe_diario' %}">Informe Diario</a></li>
                            {% endif %}
                            {% if perms.empresas.facturacion_mensual %}
                                <li><a href="{% url 'empresas:facturacion_mensual' %}">Reporte de Facturacion Mensual</a></li>
                            {% endif %}
                            {% if perms.empresas.facturacion_mensual %}
                                <li><a href="{% url 'empresas:lista_costos' %}">Ver todos los costos Habilitados</a></li>
                            {% endif %}
                            {% if perms.empresas.administrador %}
                                <li><a href="{% url 'core:admin_usuario' app_name='Empresas' %}">Administrar Usuarios</a></li>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'empresas:crear_administrador' %}">Crear Administrador General</a></li>
                                <li><a href="{% url 'core:configurar_grupos' app_name='Empresas' %}">Configurar Roles</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Informacion del usuario: <b>{{request.user.username}}</b></p>
                        <p>Empresa: <b>{% ct_get_empresa request.user %}</b></p>
                        <p>Roles del usuario:</p>
                        <ul>
                            {% ct_get_grupos request.user as grupos %}
                            {% for grupo in grupos %}
                                <li>{{grupo.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}