{% extends 'base_beneficiarios.html' %}

{% load static %}
{% load auditar_tags %}

{% block content %}
    <div class="beneficiario container">
        <div class="row">
            <h2>Empresa: {{costo.empresa}}</h2>
            <h2>Costo para: {{costo.tramo}}</h2>
        </div>
        <div class="row">
        <div class="col-md-12">
            <h3>Historico de Precios</h3>
            <div class="col-md-8">
                <table class="listado">
                    <tr>
                        <th>Fecha De Inicio</th>
                        <th>Fecha Vencimiento</th>
                        <th>Costo</th>
                    </tr>
                    {% for precio in costo.historico %}
                        <tr>
                            <td>{{precio.begda}}</td>
                            <td>{{precio.endda}}</td>
                            <td>
                                ${{precio.precio}}
                                <a class="nolink"  href="{% ct_auditar_obj_url precio %}">
                                    <img class="icons" src="{% static '/img/icons/question.png' %}">
                                </a>

                                {% if perms.empresas.reparar_costos %}
                                    <a class="nolink" href="{% url 'empresas:fix_costo' costo_id=precio.id %}">
                                        <img class="icons" src="{% static '/img/icons/change.png' %}" alt="Modificar Precio">
                                    </a>

                                    <a class="nolink" href="{% url 'empresas:del_costo' costo_id=precio.id %}">
                                        <img class="icons" src="{% static '/img/icons/delete.png' %}" alt="Eliminar Periodo">
                                    </a>

                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4">
                <h2><b>Opciones:</b></h2>
                <ul class="menu_botones">
                    {% if perms.empresas.crear_costos %}
                        <li><a href="{% url 'empresas:actualizar_costo' costo_id=costo.id %}" target="_blank">Actualizar Precio</a></li>
                        <li class="delete"><a href="{% url 'empresas:desactivar_costo' costo_id=costo.id %}" target="_blank">Dar de Baja Tramo</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}