{% extends 'base_empresa.html' %}

{% load static %}
{% load humanize %}
{% load empresas_tags %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <h2>Reporte de Facturacion:</h2>
                <h3><b>Periodo:</b> {{begda|date:'m/Y'}}</h3>
                {% for factura in facturas %}
                    <div class="row">
                        {% if perms.beneficiarios.facturacion_admin %}
                            <a class="botoncito" href="{% url 'empresas:eliminar_facturacion' factura_id=factura.id  %}">
                                Eliminar Periodo de Facturacion
                                <img class="icons" src="{% static '/img/icons/delete.png' %}" alt="Eliminar Facturacion">
                            </a>
                        {% endif %}
                        <h1><b>Empresa:</b> {{factura.empresa.nombre}}</h1>
                        <div class="col-md-12">
                            <table class="listado" id="table">
                                <thead>
                                    <tr>
                                        <th>Tramo</th>
                                        <th>Cantidad Pasajes</th>
                                        <th>Importe</th>
                                        <th>Ver Detalle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for detalle in factura.detalles.all %}
                                            <tr>
                                                <td>{{detalle.tramo}}</td>
                                                <td>{{detalle.cantidad}}</td>
                                                <td>{{detalle.subtotal}}</td>
                                                <td>
                                                    <a href="{% url 'empresas:detalle_facturacion_mensual' detalle_id=detalle.id %}" target="_blank">
                                                        (Ver Detalle)
                                                    </a>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                </tbody>
                                <tr class="resultado">
                                    <td>Resultado</td>
                                    <td>{{factura.cantidad}}</td>
                                    <td colspan="2">{{factura.total}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}