﻿@media print {
    @page { 
        size: 10cm 16cm portrait;
        margin: 0 1mm 0 1mm;
    }

    body{
        width: 10cm; 
        height: 16cm;
        margin: 3cm;
        break-before: avoid;
        break-after: avoid;

    }
    .tarjeta {
        padding: 10mm;
        border: solid 1px black;
    }

    .cabecera {

    }

    .tipo {
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .tramo {
        font-size: 0.5em;
        font-weight: bold;
    }

    hr {
        margin: 0px!important;
        margin-top: 0.2em!important;
        margin-bottom: 0.2em!important;
    }

    p {
        margin-bottom: 0.4em!important;
    }

    p.nums {
        font-size: 1.3em;
    }
    .informacion {
        margin: 0px;
        font-size: 0.5em;
    }
    
    .tab {
        margin-left: 10%;
        font-size: 1.3em;
    }

    .recuadrofoto {
        padding: 1mm;
        padding-bottom: 0;
    }

    img {
        margin: 0;
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    img.foto {
        width: 2.3cm;
        height: 2.3cm;
    }

    img.qr {
        width: 2.2cm;
        height: 2.2cm;
    }

    .no-print, .no-print *
    {
        display: none !important;
    }
}

@media screen {
    body{
        width: 1000px;
        break-before: avoid;
        break-after: avoid;

    }
    .tarjeta {
        font-size: 3em;
        margin: 100px;
        padding: 10mm;
        border: 1px solid black;
    }

    .cabecera {

    }

    .tipo {
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .tramo {
        font-size: 1em;
        font-weight: bold;
    }

    hr {
        margin: 0px!important;
        margin-top: 0.5em!important;
        margin-bottom: 0.5em!important;
    }

    p {
        margin-bottom: 0.5em!important;
    }

    p.nums {
        font-size: 1.3em;
    }
    .informacion {
        margin: 0px;
        font-size: 0.5em;
    }
    
    .tab {
        margin-left: 10%;
        font-size: 1.3em;
    }

    .recuadrofoto {
        padding: 1mm;
        padding-bottom: 0;
    }

    img {
        margin: 0;
        padding: 10px;
        page-break-before: avoid;
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    img.foto {
        width: 100%;
    }

    img.qr {
        width: 100%;
    }

    a {
        margin: 50px;
        font-weight: bold;
        border: 1px solid var(--color_oscuro);
        background-color: var(--color_primario);
        color: white;
        border-radius: 15px;
        padding: 25px;
    }
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-11 {
    width: 91.66666667%;
}
.col-sm-10 {
    width: 83.33333333%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-8 {
    width: 66.66666667%;
}
.col-sm-7 {
    width: 58.33333333%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-5 {
    width: 41.66666667%;
}
.col-sm-4 {
    width: 33.33333333%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-2 {
    width: 16.66666667%;
}
.col-sm-1 {
    width: 8.33333333%;
}

.color-B {
    background-color: whitesmoke;
}

.color-V {
    background-color: rgb(90, 141, 80);
}

.color-A {
    background-color: rgb(217, 230, 107);
}

.color-R {
    background-color: rgb(187, 89, 50);
}