/* beneficiario */
.beneficiarios{

}

.img_beneficiario{
    width:100%;
}

.beneficiario_info{
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.beneficiario p {
    font-size: 1.2em;
}

.beneficiario a {
    font-size: 1.2em;
}

.link_edicion {
    float: right;
}
.retrato {
    padding: 10px;
    width: 90%;
}

table .habilidades{
    padding-right: 10px;
}

/* Credito */
.codigo {
    list-style: none;
    font-size: 2em;
    font-weight: lighter;
}

/* Turnos */
.turnero {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

.turnero td, th {
    border: 1px solid #000000;
    text-align: center;
  }

.turnero th{
    background-color: #463f3f;
    color: white;
    text-align: center;
}

.turnero tr:nth-child(even) {
    background-color: #dddddd;
}

.turnero .beneficiarios>p {
    font-size: smaller;
    margin: 2px;
}

/* Listado */
.listado {
    width: 100%;
    border-collapse: collapse;
}

.listado td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.listado th{
    background-color: #463f3f;
    color: white;
    text-align: center;
}

.listado tr:nth-child(even) {
    background-color: #dddddd;
}

/* Salario Upload */
img.icono {
    max-height:1em;
    float: right;
}

.recuadro {
    margin-top: 15px;
    padding: 10px;
    background: var(--color_claro);
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    font-size: 10px;
}