/*BASICOS*/
html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
    margin-bottom: 150px;
}

main {
    margin-top: 0;
}

.container{
    width: 90%!important;
    min-height: 95%;

}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a.nolink,
a.nolink:focus,
a.nolink:hover {
    color: black;
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 
 @font-face {
    font-family: Archia;
    font-weight: normal;
    src: url(../fonts/Archia-Regular.otf) format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: bold;
    src: url(../fonts/Archia-Bold.otf) format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: lighter;
    src: url(../fonts/Archia-Thin.otf) format('truetype');
 }

 /*BEGIN MAIN */
 .home {

}

.home h1 {
    color: #fff;
    background-color: var(--color_oscuro);
    border-radius: 25px;
    padding: 10px;
}

.home ul {

}

.home li {
    list-style: none;
}

.home .bloque_claro {
    color: #fff;
    background-color: var(--color_claro);
    border-color: white;
    border: solid 5px;
    border-radius: 25px;
    padding: 10px;
}

.home .boton_ingreso {
    margin: 20px;
    border-color: white;
    border: solid 0px;
    border-radius: 25px;
    border-color: white;
    padding: 20px;
    background-color: var(--color_claro);
    text-align: center;
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
}

.home .boton_ingreso h2 {
    color: var(--color_oscuro);
    font-weight: bold;
    margin: 0px;

}

 /* Utilitarios */
.volver {
     padding: 10px;
     float: right;
     margin: 15px;
     border-style: solid;
     border-radius: 25px;
     background-color: var(--color_primario);
     color: white;
}

.botoncito {
    float:right;
    margin: 25px;
    padding: 10px;
    border-style: solid;
    border-radius: 25px;
    background-color: var(--color_primario);
    color: white;
}

/* Finanzas */
.listado {
  width: 100%;
  border-collapse: collapse;
}

.listado td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.listado th{
  background-color: var(--color_oscuro);
  color: white;
  text-align: center;
}

.listado tr:nth-child(even) {
  background-color: #dddddd;
}

.resultado {
    color: white;
    font-weight: bold;
    background-color: var(--color_claro)!important;
    border-radius: 15px;
    border: 1px solid var(--color_oscuro);
    padding: 10px;
}

/* Confirmar */
.confirmar {
    background: var(--color_claro);
    max-width: 60%;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 5px;
    z-index: 1;
    color: rgb(7, 7, 7);
    padding: 25px;
    text-align: center;
    font-weight: normal;
}

.confirmar a{
    background: var(--color_oscuro);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/* IMAGENES */
img.icons {
    width: 25px;
}

img.iconsx2{
    width: 50px;
}

img.documento{
    max-height: 10em;
}

/* BUSCADOR */
.buscador {
    float: right;
    margin-bottom: 15px;
    margin-right: 25px;
}

.buscador input {
    width: 250px;
}