thead th {
    padding: 0px!important;
}

thead input {
    width: 100%;
    text-align: center;
    background-color: var(--color_oscuro);
    padding-top: 5px;
    padding-bottom: 5px;
}

thead input::placeholder {
    color: white;
    font-size: 1em;
    font-weight: normal;
}

.buttons-excel {
    float: right;
}

/* Colores tr */
tr.rojo{
    background-color: red!important;
    color: white;
}
tr.naranja{
    background-color: rgb(214, 128, 48)!important;
}
tr.amarillo{
    background-color: rgb(233, 215, 59)!important;
}
tr.verde{
    background-color: rgb(65, 212, 20)!important;
}

.minitexto {
    font-size: smaller;
}
thead th {
    padding: 0px!important;
}

thead input {
    width: 100%;
    text-align: center;
    background-color: var(--color_oscuro);
    padding-top: 5px;
    padding-bottom: 5px;
}

thead input::placeholder {
    color: white;
    font-size: 1em;
    font-weight: normal;
}

.buttons-excel {
    float: right;
}

/* Colores tr */
tr.rojo{
    background-color: red!important;
    color: white;
}
tr.naranja{
    background-color: rgb(214, 128, 48)!important;
}
tr.amarillo{
    background-color: rgb(233, 215, 59)!important;
}
tr.verde{
    background-color: rgb(65, 212, 20)!important;
}

.minitexto {
    font-size: smaller;
}