{% block content %}
    <h2><b>Opciones:</b></h2>
    <ul class="menu_botones">
        <li><a href="{% url 'beneficiarios:pub_crear_credito' beneficiario_id=beneficiario.id %}">Pedir Credito</a></li>
    </ul>
{% endblock %}