{% block content %}
    <br>
    <form method="post" action="/noticias/buscar" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <button type="submit">Buscar</button>
    </form>
    <hr>
    <p><b>Etiquetas:</b></p>    
    <ul>
        {% for etiqueta in etiquetas %}
            <li class="etiqueta"><a href="{% url 'noticias:buscar_etiqueta' tag_id=etiqueta.id %}">{{etiqueta.name|title}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}